@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}

/* Menu Icon */
.menu-icon {
  @apply relative isolate;
  &.hamburguer {
    transition-property: background-color, height, width;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border-radius: 25px 0 0 25px;
    z-index: 6;
    @apply flex w-8 h-8 justify-center items-center relative cursor-pointer bg-transparent;
    @media screen(laptop) {
      display: none;
    }
    span {
      height: 0.3rem;
      width: 2rem;
      transition:
        transform 0.5s ease,
        background-color 0.5s ease;
      @apply bg-white inline-block absolute mx-auto;
    }
    span:nth-child(1) {
      transform: translateY(-0.8rem);
    }

    span:nth-child(3) {
      transform: translateY(0.8rem);
    }

    /* Animacion cuando "isActive" es true */
    &.change {
      border: 2px solid white;
      @apply w-12 h-12 bg-transparent rounded-full;
      transform: translate(-1rem, 0);
      span {
        @apply bg-white;
      }
      span:nth-child(1) {
        @apply w-14;
        transform: rotateZ(42.19deg) scale(0.45);
      }

      span:nth-child(2) {
        @apply opacity-0;
      }

      span:nth-child(3) {
        transform: rotateZ(-42.19deg) scale(0.45);
        @apply w-14;
      }
    }
  }
}
